<p id="notice"><%= notice %></p>

<section class="publicaciones-blog-home">
    <div class="container container-all">
        <div class="row">
            <div class="col-md-9">
                <h3>Загогулины, <%= @items.count %></h3>
            </div>
            <div class="col-md-3 pull-right">
              <%= link_to 'Добавить загогулину', new_item_path, :class => "btn btn-info" %>
            </div>
        </div>
        <br/>
        <div class="row-page row">
            <% if @items.count == 0 %>
                <div class="alert alert-warning" role="alert">Загогулин нет</div>
            <% end %>
            <% @items.each do |item| %>
                <div class="col-page col-sm-6 col-md-6">
                    <%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' } %> 
                    <td><%= link_to 'Edit', edit_item_path(item) %></td>
                    <%= link_to item, :class => "fondo-publicacion-home" do %>
                        <div class="img-publicacion-home">
                            <%= image_tag(image_filepath(item), :class => 'img-responsive') %>
                        </div>
                        <div class="contenido-publicacion-home">
                            <h3><%= item.name %></h3>
                            <h6><%= item.created_at.strftime("Created at %Y-%m-%d")%></h6>
                            <hr/>
                            <article>
                                <p>Category: <%= item.category.name %></p>
                                <p>Price: <%= number_to_currency(item.price, :unit => "$") %></p>
                            </article>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
</section>
