<div class="container container-add">
  <h2>Добавление загогулины</h2>
  <br/>
  <%= form_with(model: @item, local: true) do |form| %>
    <% if @item.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

        <ul>
        <% @item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  
    <div class="form-group row">
      <div class="col-sm-2 col-form-label">
        <%= form.label :name %>
      </div>
      <div class="col-sm-10">
        <%= form.text_area :name, :class => "form-control"%>
      </div>
    </div>
    
    <div class="form-group row">
      <%= form.label :category_id, :class => ['col-sm-2', 'col-form-label'] %>
      <div class="col-sm-6">
        <%= select_tag(:category_id, options_for_select(@categories), :prompt => '', :class => "form-control") %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-2 col-form-label">
        <%= form.label :price %>
      </div>
      <div class="col-sm-10">
        <%= form. :price, :class => "form-control"%>
      </div>
    </div>

    <h5>Attach image</h5>
        <div class="row">
            <div class="col-md-3 col-lg-2 col-sm-3 col-xs-3">
                <label class="btn btn-default btn-block" style="height: 33px;">
                    <input class="inputFile" name="imagefile" type="file" accept="image/jpeg,image/png,image/gif" style="display: none;"/>
                    <%= image_tag("load_img_btn.png", :class => "attachImage") %>
                </label>
            </div>

            <div class="col-md-3 col-lg-3 col-sm-3 pull-right">
                <button type="submit" class="btn btn-primary btn-block">Add</button>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-3 pull-right">
            	<%= link_to 'Back', items_path, :class => "btn btn-default btn-block" %>             
            </div>
        </div>
  <% end %>
</div class="container"> 


