<% provide(:title, "Категории") %>
<p id="notice"><%= notice %></p>

<section class="publicaciones-blog-home">
    <div class="container container-all">
        <div class="row">
            <div class="col-md-9">
                <h3>Категории, <%= @categories.count %></h3>
            </div>
            <div class="col-md-3 pull-right">
              <%= link_to 'Добавить категорию', new_category_path, :class => "btn btn-info" %>
            </div>
        </div>
        <br/>
        <div class="row-page row">
            <% if @categories.count == 0 %>
                <div class="alert alert-warning" role="alert">Категорий нет</div>
            <% end %>
            <table class="table">
              <tbody>
                <% @categories.each do |category| %>
                  <tr>
                    <td><%= category.name %></td>
                    <td><%= category.parent_id.present? ? category.parent_id : "<none>" %></td>
                    <td><%= link_to 'Show', category %></td>
                    <td><%= link_to 'Edit', edit_category_path(category) %></td>
                    <td><%= link_to 'Delete', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
        </div>
        <hr/>
        <br/>
        <%= render 'form', category: @category %>
    </div>
</section>
