<% provide(:title, "Категории") %>
<p id="notice"><%= notice %></p>

<section class="publicaciones-blog-home">
    <div class="container container-all">
        <div class="row">
            <div class="col-md-12">
                <h3>Категории, <%= @categories.count %></h3>
            </div>
        </div>
        <br/>
        <div class="row-page row">
            <% if @categories.count == 0 %>
                <div class="alert alert-warning" role="alert">Категорий нет</div>
            <% end %>
            <table class="table">
              <tbody>
                <% @categories.each do |category| %>
                  <tr>
                    <td><%= category.name %></td>
                    <td><%= category.parent_id.present? ? category.parent_id : "<none>" %></td>
                    <td><%= link_to 'Show', category %></td>
                    <td><%= link_to 'Edit', edit_category_path(category) %></td>
                    <td><%= link_to 'Delete', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
        </div>
        <hr/>
        <br/>
        <%= render 'form', category: @category %>
    </div>
</section>

<ul class="list-group">
<% @categories.select{|c| !c.parent_id.present? }.each do |category| %>
    <li class="list-group-item">
        <%= category.name %>
        <span class="pull-right" ><%= link_to 'Show', category %></span>
        <span class="pull-right" ><%= link_to 'Edit', edit_category_path(category) %></span>
        <span class="pull-right" ><%= link_to 'Delete', category, method: :delete, data: { confirm: 'Are you sure?' } %></span>
        <ul>
            <% category.children.each do |category| %>
                <li class="list-group-item">
                    <%= category.name %>
                    <span class="pull-right" ><%= link_to 'Show', category %></span>
                    <span class="pull-right" ><%= link_to 'Edit', edit_category_path(category) %></span>
                    <span class="pull-right" ><%= link_to 'Delete', category, method: :delete, data: { confirm: 'Are you sure?' } %></span>
                    <ul>
                    
                    </ul>
                </li>
                
            <% end %>
        </ul>
    </li>
    
<% end %>
</ul>
